body, div, p {
    font-family: \'DejaVu Sans Condensed\';
    font-size: 25pt;
    background: #666666;
    color: white;
}
h3 {
    margin: 1em 0 2em -15mm;
    background-color: #EEDDFF;
    background-gradient: linear #c7cdde #f0f2ff 0 1 0 0.5;
    padding: 1px;
    padding-left: 3em;
    width: 32%;
    font-family:sans;
    font-size: 16pt;
    font-weight: bold;
    border-left: none;
    border-radius: 0 1em 1em 0;
    box-shadow: 0 0 0.5em 0.5em rgba(255,0,0,1);
    text-shadow: 0.05em 0.04em rgba(127,127,127,0.5);
    color: black;
}
button, input[type="submit"] {
    border-radius: 5px;
    padding: 5px;
    background: #ffcccc;
}
p{
    text-align: justify;
}
